
<div class="row">

	<div class="col-md-3">
		<h3><button class="btn btn-success btn-block" title="Click to change the urls to analize" data-toggle="modal" data-target="#urlModal">Load URLs</button></h3>
	</div>

	<div class="col-md-3">
		<h3><button class="btn btn-primary btn-block btn-run-fetcher pull-right" title="Click to get all error and warnings">Run</button></h3>
	</div>

	<div class="col-md-6">
		{{> progress-bar }}
	</div>
</div>