
<div class="row">

	<div class="col-md-3">
		<h3><button class="btn btn-success url-modal-trigger btn-block" title="Click to change the urls to analize" >Load URLs</button></h3>
	</div>

	<div class="col-md-3">
		<h3><a href="#" class="btn btn-primary btn-block btn-run-fetcher pull-right" title="Click to get all error and warnings">Run</a></h3>
	</div>

	<div class="col-md-6">
		{{> progress-bar }}
	</div>
</div>