.side-menu {
    z-index: 1000;
    position: fixed;
    left: 350px;
    width: 0;
    height: 100%;
    margin-left: -350px;
    overflow-y: auto;
    background: #333;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: white;
    .input-url {
		margin-right: 5px; 
		border: 0px;
		border-bottom: 2px solid #2196f3;
		border-radius: 0px;
		background: transparent;
		color: white;
		box-shadow: none;

		&.parsley-error{
			border-bottom: 2px solid #ff6e6e;
		}
		&.parsley-success {
			border-bottom: 2px solid #57b257;
		}
		&::-moz-placeholder {  /* Firefox 19+ */
		   color: white;  
		}
		&::-webkit-input-placeholder {  /* Firefox 19+ */
		   color: white;  
		}
	}

	.parsley-errors-list li {
		position: relative;
		top: 5px;
		color: #ff6e6e;
	}
	&__buttons {
		margin-bottom: 15px;
	}
	.input-url:focus {
		box-shadow: none;
	}
	.remove-me {
		float: right;
	}
	.remove-me:hover {
		color: #337ab7;
	}
	&__wrapper {
		padding: 15px;
	}
	.field-wrapper {
		@include clearfix();
		margin-bottom: 5px;
	}
	.field-wrapper:first-child {
		margin-bottom: 20px;
	}
	.errorBlock {
		color: red;
	}

	/* Sidebar Styles */

	.sidebar-nav {
	    position: absolute;
	    top: 0;
	    width: 350px;
	    margin: 0;
	    padding: 0;
	    list-style: none;
	}

	.sidebar-nav li {
	    text-indent: 20px;
	    line-height: 40px;
	}

	.sidebar-nav li a {
	    display: block;
	    text-decoration: none;
	    color: #999999;
	}

	.sidebar-nav li a:hover {
	    text-decoration: none;
	    color: #fff;
	    background: rgba(255,255,255,0.2);
	}

	.sidebar-nav li a:active,
	.sidebar-nav li a:focus {
	    text-decoration: none;
	}

	.sidebar-nav > .sidebar-brand {
	    height: 65px;
	    font-size: 18px;
	    line-height: 60px;
	}

	.sidebar-nav > .sidebar-brand a {
	    color: #999999;
	}

	.sidebar-nav > .sidebar-brand a:hover {
	    color: #fff;
	    background: none;
	}
	@include respond-to($tablet) {
		width: 350px;
	}
}

