<!-- Modal -->
<div class="modal modal-url fade" id="urlModal" tabindex="-1" role="dialog" aria-labelledby="urlModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="urlModalLabel">URLs to validate</h4>
      </div>
      <div class="modal-body">
        
			<input type="hidden" name="count" value="1" />
	        <div class="control-group" id="fields">
	            <label class="control-label" for="field1">Add the urls to validate here</label>
	            <div class="controls" id="profs"> 
	                <form class="input-append">
							<div class="field-wrapper">
	                    		<input autocomplete="off" class="input-url form-control" type="email" placeholder="URL to test" required />
	                    		<button class="btn btn-add-field" type="button">+</button>
	                    	</div>
	                </form>
	            <br>
	            
	            </div>
	        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary btn-save-url">Save URLs</button>
      </div>
    </div>
  </div>
</div>
<!-- ./ urls modal -->