 body {
    overflow-x: hidden;
 }


// Right panel toggle styles

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    &.toggled {
        padding-left: 350px;
        .side-menu {
            width: 350px;
        }
        #page-content-wrapper {
            position: absolute;
            margin-right: -350px;
        }
        .urls-arrow {
            transform: rotate(180Deg);
        }
    }

    @include respond-to($tablet) {
        padding-left: 350px;
        &.toggled {
            padding-left: 0;
            .side-menu {
                width: 0;
            }
            #urls-section {
                position: relative;
                margin-right: 0;
            }
        }
    }
}
