///* GLOBAL BREAKPOINTS */
$mobile: 320px;
$mobile-md: 360px;
$mobile-iphone6: 375px;
$mobile-plus: 414px;
$mobile-iphone4-ls: 480px;
$mobile-iphone5-ls: 568px;
$mobile-ls: 600px;
$mobile-iphone6-ls: 667px;
$mobile-plus-ls: 736px;
$tablet: 768px;
$tablet-ls: 1024px;
$desktop: 1280px;
$desktop-ls: 1400px;